*, ::after, ::before {
    box-sizing: border-box;
}

body {
    background-image: url(../images/johnwick3background1.jpg); 
}

.container {
    width: 1024px;
    align-content: center;
}

img {
    width: 390px;
    height: 315px;
    padding-top: 35px;
    padding-bottom: 15px;
}

p {
    font-size: 13px;
    color: rgb(17, 62, 211);
}

h2 {
    height: 54px; 
}

.card-header {
    border: dotted rgb(49, 46, 46) .5px;
    color: rgb(156, 184, 245);
    background: rgb(143, 12, 88);
}

.card-footer {
    border: dotted rgb(49, 46, 46) .5px;
    color: rgb(156, 184, 245);
    background: rgb(143, 12, 88);
}