*, ::after, ::before {
    box-sizing: border-box;
}

.container {
    width: 1024px;
    align-content: center;
    margin-bottom: 45px;
}

img {
    width: 1024px;
    height: 430px;
    align-self: center;
    padding-top: 35px;
}