*, ::after, ::before {
    box-sizing: border-box;
}

.container {
    width: 1024px;
    align-content: center;
    margin-bottom: 45px;
}

img {
    width: 921px;
    height: 387px;
    align-self: center;
    padding-top: 35px;
}

p {
    font-size: 13.5px;
    margin-bottom: -10px;
}

h2 {
    height: 56px; 
}

.card-header {
    border: dotted rgb(49, 46, 46) .5px;
    color: rgb(41, 77, 155);
    background: rgb(206, 178, 233);
}